
_autosave-Romi-unified-board.pro
Romi-unified-board.kicad_pcb-bak
Romi-unified-board.sch-bak
Romi-unified-board.ses
svg/Romi-unified-board-Edge_Cuts.svg
svg/Romi-unified-board-F_Cu.svg
svg/Romi-unified-board-F_Mask.svg
fp_lib/unified.pretty/.svg2*
gerbers/*
gerbers.zip
.~lock.Romi-unified-board-bom.csv#
_autosave-Romi-unified-board.kicad_pcb
bom/ibom.html
Romi-unified-board.dsn
svg/g12155.png
svg/Romi-unified-board-B_Cu.svg
svg/Romi-unified-board-B_Mask.svg
svg/Romi-unified-board-B_SilkS.svg
svg/Romi-unified-board-F_CrtYd.svg
svg/Romi-unified-board-F_Paste.svg
svg/Romi-unified-board-F_SilkS.svg
svg/Romi-unified-board-In1_Cu.svg
svg/Romi-unified-board-In2_Cu.svg
